.Button {
    background-color: transparent;
    border: none;
    color: #f14c00;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 3%;
    margin: 10px;
    font-weight: bold;
    font-size: 250%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.Button:hover {
    color: #ffffff;
    background-color:#f14c00;
}
